.header{
    margin-top:10px;
    justify-content: center;
}
.main{
    justify-content: center;
}
.footer{
    justify-content:center;
    margin-top: 90px;
    margin-bottom: 30px;
    position:sticky;
    
}